%h1
  Upload for Image
  -##{image.name}
%h4.progress{:style => "display: none"}
  Progress:
  = succeed "%" do
    %span.progress_count
= form_with model: @image, url: file_uploads_path(@image), method: :post, id: "upload_file", local: true do |f|
  = f.file_field :files, multiple: true, direct_upload: true
  %br/
  %br/
  = f.submit 'Upload'
