!!!
%html{:lang => "en"}
  %head
    %title Monolito
  %body.text-center
    %canvas#stars
    #container.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column.text-light
      %header.masthead.mb-auto
        .inner
      .row.justify-content-center
        %main.inner.cover{:role => "main"}
          %form.form-signin
          = form_for(:user, :url => {:controller => 'sessions', :action => 'create'}) do |f|
            %img.mb-4{:alt => "", :height => "72", :src => "https://getbootstrap.com/assets/brand/bootstrap-solid.svg", :width => "72"}/
            %h1.h3.mb-3.font-weight-normal Login
            %label.sr-only{:for => "email"} Endereço de e-mail            
            = f.text_field :email, class: 'form-control', :placeholder => "Endereço de e-mail", :required => ""
            %label.sr-only{:for => "password"} Senha
            = f.password_field :password, class: 'form-control', :placeholder => "Senha", :required => ""
            .checkbox.mb-3
              %br/
              %label
                %input{:type => "checkbox", :value => "remember-me"}
                  Lembrar-me
            %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Entrar
            %br/
            %a.btn.btn-light.btn-secondary{:href => signup_path} Registrar
      %footer.mastfoot.mt-auto
        .inner
          %p
            Cover template for
            = succeed "," do
              %a{:href => "https://getbootstrap.com/"} Bootstrap
            by
            = succeed "." do
              %a{:href => "https://twitter.com/mdo"} @mdo
          %p
            Constellation by
            = succeed "." do
              %a{:href => "https://codepen.io/gabrielaoviedo/"} Gabriela Oviedo
        /
          Bootstrap core JavaScript
          \==================================================
        / Placed at the end of the document so the pages load faster
        %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
        :javascript
          window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
        /
          <script src="bootstrap/js/vendor/popper.min.js"></script>
          <script src="bootstrap/js/bootstrap.min.js"></script>
