.row.justify-content-center
  %main.inner.cover{:role => "main"}
    %form.form-signin          
    = form_for :user do |f|
      %h1.h3.mb-3.font-weight-normal Configurações avançadas
      %br
      %label{:for => "username"} Username
      = f.text_field :username, class: 'form-control'
      %br/
      %label{:for => "password"} Senha antiga
      = f.password_field :old_password, class: 'form-control'
      %br/
      %label{:for => "password_confirmation"} Nova senha
      = f.password_field :password, class: 'form-control'
      %br/
      %label{:for => "password_confirmation"} Confirmação da nova senha
      = f.password_field :password_confirmation, class: 'form-control'
      %br/
      %button.btn.btn-dark{:type => "submit"} Atualizar
      %a.btn.btn-dark{:href => '/account'} Voltar