.row.justify-content-center
  %main.inner.cover{:role => "main"}
    %form.form-signin          
    = form_for :user, :url => {:controller => 'users', :action => 'update'}, :method => "patch" do |f|
      %h1.h3.mb-3.font-weight-normal Atualizar conta
      %br/
      %label{:for => "name"} Nome completo
      = f.text_field :name, class: 'form-control'
      %br/
      %label{:for => "name"} Organização
      = f.text_field :organization, class: 'form-control'
      %br/
      %label{:for => "name"} E-mail
      = f.text_field :email, class: 'form-control'
      %br/
      = link_to 'Configurações avançadas', '/settings/account', :class => 'btn btn-dark'
      %button.btn.btn-dark{:type => "submit"} Atualizar