%main.card.center-card-narrow.card-text
  .row.justify-content-center
    %h1.cover-heading Meu perfil 
  .row.justify-content-center
    .form-group
    %label Nome:&nbsp
    = @user.name
  .row.justify-content-center
    .form-group
    %label Username:&nbsp
    = @user.username
  .row.justify-content-center
    .form-group
    %label E-mail:&nbsp
    = @user.email
  .row.justify-content-center
    .form-group
    %label Organização:&nbsp
    = @user.organization
  .row.justify-content-center
    .form-group
    %label Pontuação:&nbsp
    /=@user.organization
  .row.justify-content-center
    = link_to "Editar perfil", edit_user_path(@user), :class => 'btn btn-dark'
