%main{:role => "main"}
  .album.py-5
    .container
      .row
        - @projects.each do |project|
          - @image = project.images.sample
          .col-md-4
            .card.mb-4.box-shadow
              = image_tag(@image.file, alt: "Imagem da pergunta", class: 'card-img-top')
              /%img.card-img-top{:alt => "Card image cap", "data-src" => @image.file}/
              .card-body.text-dark
                %p.card-text= project.name                
                %hr
                %p.card-text= project.description
                /%p.card-text= project.user_id
                .text-center     
                  = link_to "Obter dados", :controller => "projects", :action => "retrieve", :pid => project.id
                  %button.btn.btn-dark{:type => "button"}= link_to "Ver mais", project_path(project), class: 'text-light'
                %hr
                %small.text-muted Criado em
                %small.text-muted= project.created_at.strftime("%-d/%-m/%y às %H:%M")               
              
