.card.center-card.card-text
  %h1.text-center Preencha uma pergunta
  %form.form-signin
  = form_for :question, :url => {:controller => 'projects', :action => 'create_question'} do |f|
    = f.text_field :description, class: 'form-control', :placeholder => "O que você vê na imagem?", :required => ""
    = f.text_field :text, multiple: true, class: 'form-control', :placeholder => "Um pato", :required => ""
    = f.text_field :text, multiple: true, class: 'form-control', :placeholder => "Um leão", :required => ""
    = f.text_field :text, multiple: true, class: 'form-control', :placeholder => "Um crocodilo", :required => ""
    = f.text_field :text, multiple: true, class: 'form-control', :placeholder => "O Chapolim colorado", :required => ""
    = f.text_field :text, multiple: true, class: 'form-control', :placeholder => "Fora Temer", :required => ""
    = f.hidden_field :project_id, value: @project.id
    .row.justify-content-center
      &nbsp
      %button.btn.btn-lg.btn-success{:type => "submit"} Finalizar
      

      
