.row.justify-content-center
  %main.inner.cover{:role => "main"}
    %form.form-signin
    = form_for :question, :url => {:controller => 'projects', :action => 'create_question'} do |f|
      = f.text_field :description, class: 'form-control', :placeholder => "Pergunta sobre as imagens", :required => ""
      = f.text_field :text, multiple: true, class: 'form-control', :placeholder => "Opção 1", :required => ""
      = f.text_field :text, multiple: true, class: 'form-control', :placeholder => "Opção 2", :required => ""
      = f.text_field :text, multiple: true, class: 'form-control', :placeholder => "Opção 3", :required => ""
      = f.text_field :text, multiple: true, class: 'form-control', :placeholder => "Opção 4", :required => ""
      = f.text_field :text, multiple: true, class: 'form-control', :placeholder => "Opção 5", :required => ""
      = f.hidden_field :project_id, value: @project.id
      %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Enviar
      
