%main.inner.cover{:role => "main"}
.row.justify-content-center
  .card
    .title{:style => "color: black;"}
      = @project.name
      %br
      = @project.description
    %ul.list-group.list-group-flush
      %li.list-group-item
        = link_to "Rotular", controller: "labels", action: "new", id: @project.id, :class => 'btn btn-dark'
    .card-body
      - if @show_edit
        %a.card-link{:href => "#"}
        = link_to "Edit", edit_project_path(@project), :class => 'btn btn-default'
        %a.card-link{:href => "#"}
        = link_to "Delete", project_path(@project), 
                  method: :delete, data: { confirm: 'Are you sure?' },
                  :class => 'btn btn-danger'
