!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Dontpanic
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default{role: "navigation"}
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: "/"} Página Inicial
      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-ex1-collapse
        %ul.nav.navbar-nav
          %li
            %a{href: "/about"} Sobre 
          %li
            %a{href: "/contact"} Contato
        %form.navbar-form.navbar-left{role: "search"}
          .form-group
            %input.form-control{placeholder: "Procure um projeto", type: "text"}/
          
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: "/posts/new"} 
              %span.glyphicon.glyphicon-plus 
              New
          - if current_user
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                =current_user.username
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "/show"} Meu perfil 
                %li
                  = link_to("Logout", logout_path, :method => :delete)
          - else
            %li
              %a{href: "/login"} 
                Sign In
            
      / /.navbar-collapse
      
    = yield
